html {
  --selfImageRatio: 1.5012987; /* h/w */
  --allPadding: 5vw;

  --imageH-landscape: 80vh;
  --imageW-landscape: calc(var(--imageH-landscape) / var(--selfImageRatio));

  --imageW-portrait: 70vw;
  --imageH-portrait: calc( var(--imageW-portrait) * var(--selfImageRatio));
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    text-indent: 1.5em;
}

#selfImage {
  position: absolute;
  height: var(--imageH-landscape);
  width: auto;
  top: 50%;
  right: var(--allPadding);
  transform: translateY(-50%);
  transition: none;

  border: 10px solid rgba(187, 87, 87, 0.8);
}
@media (max-width: 53em) and (orientation:landscape){
    #selfImage{
        height: calc(0.8 * var(--imageH-landscape));
    }
}
@media(orientation: portrait), (max-height: 27em){
    #selfImage{
      width: var(--imageW-portrait);
      height: auto;
      transform: translateX(-50%);
      left: 50%;
      /* Incompatible types? Below works... */
      top: calc( calc( 100% / 6) + 2em + calc( 2 * var(--allPadding) ) );
    }
}

#aboutMeBox {
  position: absolute;
  top: 50%;
  left: var(--allPadding);
  transform: translateY(-50%);
  margin: 0;
  padding: 1em;
  height: 20em;
  width: calc(100vw - 2em - var(--imageW-landscape) - calc(4 * var(--allPadding)));

  overflow: scroll;
  background-color: rgba(187, 87, 87, 0.5);

  color: #DCDCDC;
}

@media (orientation:portrait), (max-height: 27em){
  #aboutMeBox{
    position: absolute;
    width: var(--imageW-portrait);
    height: 20em;
    transform: translateX(-50%) translateY(50%);
    left: 50%;
    /* top: 1em; */
    top: calc(var(--imageH-portrait) + calc( 3 * var(--allPadding)));
  }
}

/* Below is used to adjust font size without messing up the box's proportions, which were designed at 2/3rds the size */
#aboutMeText{
    font-size: 1.5em;
}